extends layout

block content
    form(action="/signup", method="post")
        label Имя
        input(type="text", name="firstName")
        br
        label Пароль
        input(type="password", name="password")
        br
        input(type="submit", value="Submit")
        if message.length
            div #{message}